<% if logged_in? && @post.user_id == current_user.id %>
    <%= form_for @post do |f|%>
        <p>
            <%= f.label :caption %>
            <br>
            <%= f.text_field :caption %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <%end%>
<% else%>
<p>You are not authorised to edit this post</p>
<% end %>