
<div class="gallery">
<%@posts.each do |post|%>
  <div class="image">
   <img src="<%=(url_for(post.photo))%>">
    <br>
        Caption: <%=post.caption%>
    <br>
        User: <%=User.find(post.user_id).name%>
  </div>  
    <% if logged_in? && post.user_id == current_user.id%>
   <%= link_to "update", post%>
    <%end%>
<%end%>
</div>
