// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gallery{
    line-height: 0;
   
    -webkit-column-count: 5;
    -webkit-column-gap:   15px;
    -moz-column-count:    5;
    -moz-column-gap:      15px;
    column-count:         5;
    column-gap:           15px;
}

.image img{
    width: 100%;
    object-fit: cover;
}

